[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# Rider / VS
.vs/
.idea/
*.csproj
*.sln
*.user
*.userprefs

# Unity meta cache
*.pidb
*.booproj
*.svd

# OS
.DS_Store
Thumbs.db
